.g-container {
    margin: 0 auto;
    max-width: 980px;
    padding-left: 20px;
    padding-right: 20px;
}

.g-button--main {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 13px;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    background-color: var(--button-color);
    padding: 0 29px;
    white-space: nowrap;
    cursor: pointer;
    transition: all 0.25s ease-in;
    border: none;
}

.g-button:hover {
    background-color: var(--text-dark);
}

.g-button:active {
    scale: 0.95;
}